<a href="https://colab.research.google.com/github/rixwan-khan/M4_competition_time_series/blob/main/M4_timeseries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##  **M4 Competion Time Series**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
train_git = 'https://raw.githubusercontent.com/Mcompetitions/M4-methods/master/Dataset/Train/Monthly-train.csv'
train_df = pd.read_csv(train_git)
train_df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V2786,V2787,V2788,V2789,V2790,V2791,V2792,V2793,V2794,V2795
0,M1,8000.0,8350.0,8570.0,7700.0,7080.0,6520.0,6070.0,6650.0,6830.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,M2,2440.0,2490.0,2710.0,2290.0,1960.0,1990.0,1960.0,2530.0,2640.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,M3,2670.0,2590.0,2784.0,2816.0,2888.0,2906.0,2839.0,2860.0,2798.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,M4,7264.0,7215.0,7022.0,7040.0,6966.0,6984.0,7025.0,7082.0,6956.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,M5,4210.0,4290.0,4250.0,4320.0,4320.0,4330.0,4320.0,4260.0,4220.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
train_df.shape

(48000, 2795)

In [4]:
test_git = 'https://raw.githubusercontent.com/Mcompetitions/M4-methods/refs/heads/master/Dataset/Test/Monthly-test.csv'
test_df = pd.read_csv(test_git)
test_df.head()

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,V11,V12,V13,V14,V15,V16,V17,V18,V19
0,M1,8720.0,7790.0,4770.0,5060.0,4720.0,4450.0,5120.0,5960.0,6560.0,4900.0,4520.0,7370.0,9050.0,7780.0,5380.0,4700.0,4490.0,4010.0
1,M2,2090.0,2180.0,1760.0,2290.0,1500.0,1370.0,1810.0,1450.0,1370.0,1380.0,1710.0,2140.0,1870.0,1670.0,1800.0,1800.0,1790.0,1600.0
2,M3,13314.0,13659.0,13839.0,13693.0,13701.0,13881.0,13862.0,13774.0,13677.0,13944.0,14023.0,13793.0,13752.0,13818.0,13901.0,14057.0,14037.0,14158.0
3,M4,6505.0,6559.0,6526.0,6499.0,6495.0,6450.0,6458.0,6434.0,6445.0,6382.0,6390.0,6390.0,6353.0,6337.0,6280.0,6284.0,6397.0,6433.0
4,M5,4390.0,4470.0,4350.0,4420.0,4480.0,4440.0,4340.0,4280.0,4210.0,4280.0,4350.0,4290.0,4320.0,4370.0,4390.0,4480.0,4390.0,4380.0

In [12]:
info_git = 'https://raw.githubusercontent.com/Mcompetitions/M4-methods/refs/heads/master/Dataset/M4-info.csv'
info_df = pd.read_csv(info_git)
info_df.sample(10)

         M4id     category  Frequency  Horizon         SP    StartingDate
88956  M41957      Finance         12       18    Monthly  01-12-94 12:00
70230  M23231  Demographic         12       18    Monthly  01-01-90 12:00
72251  M25252  Demographic         12       18    Monthly  31-10-98 12:00
34761  Q11762  Demographic          4        8  Quarterly  31-01-99 12:00
64819  M17820        Micro         12       18    Monthly  31-01-10 12:00
33667  Q10668        Micro          4        8  Quarterly  31-03-98 12:00
21589  Y21590      Finance          1        6     Yearly  31-12-70 12:00
57555  M10556        Micro         12       18    Monthly  01-01-13 12:00
53072   M6073        Macro         12       18    Monthly  01-01-03 12:00
43562  Q20563      Finance          4        8  Quarterly  30-09-83 12:00

In [30]:
info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   M4id          100000 non-null  object
 1   category      100000 non-null  object
 2   Frequency     100000 non-null  int64
 3   Horizon       100000 non-null  int64
 4   SP            100000 non-null  object
 5   StartingDate  100000 non-null  object
dtypes: int64(2), object(4)
memory usage: 4.6+ MB

In [34]:
info_df['StartingDate'] = pd.to_datetime(info_df['StartingDate'], format='%Y/%m/%d')

In [37]:
info_df.sample(5)

         M4id  category  Frequency  Horizon         SP        StartingDate
99147   D3789     Other          1       14      Daily 2000-03-17 12:00:00
92060  M45061   Finance         12       18    Monthly 2010-09-30 12:00:00
85178  M38179   Finance         12       18    Monthly 1990-01-01 12:00:00
38215  Q15216  Industry          4        8  Quarterly 2059-09-30 12:00:00
43164  Q20165   Finance          4        8  Quarterly 2004-01-31 12:00:00

In [36]:
categy_info = info_df['category'].value_counts()
categy_info

category
Micro          25121
Finance        24534
Macro          19402
Industry       18798
Demographic     8708
Other           3437
Name: count, dtype: int64

In [41]:
# First, make sure the first column of train.csv is named 'M4id'
train_df.rename(columns={train_df.columns[0]: 'M4id'}, inplace=True)

# Merge with info.csv
merged_df = pd.merge(info_df, train_df, on='M4id', how='inner')
merged_df.sample(10)

,M4id,category,Frequency,Horizon,SP,StartingDate,V2,V3,V4,V5,...,V2786,V2787,V2788,V2789,V2790,V2791,V2792,V2793,V2794,V2795
37259,M37260,Finance,12,18,Monthly,2034-01-01 12:00:00,2088.000000,2114.000000,2128.000000,2143.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43441,M43442,Finance,12,18,Monthly,2000-01-31 12:00:00,980.000000,976.000000,977.000000,989.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21785,M21786,Demographic,12,18,Monthly,1990-01-01 12:00:00,2630.000000,2740.000000,2660.000000,2550.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27540,M27541,Industry,12,18,Monthly,2003-01-12 12:00:00,10000.000000,10170.000000,10760.000000,11590.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4392,M4393,Macro,12,18,Monthly,1983-07-31 12:00:00,2035.000000,2241.000000,2239.000000,2288.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6097,M6098,Macro,12,18,Monthly,2001-01-09 12:00:00,357.878522,371.898901,372.471309,907.629491,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16926,M16927,Micro,12,18,Monthly,2008-08-31 12:00:00,4210.548488,3718.651015,3909.314203,3845.957880,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36102,M36103,Industry,12,18,Monthly,2007-01-31 12:00:00,1046.200000,926.700000,907.600000,959.300000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38785,M38786,Finance,12,18,Monthly,2008-12-31 12:00:00,243.000000,241.000000,237.000000,226.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39780,M39781,Finance,12,18,Monthly,2009-09-30 12:00:00,560.000000,1030.000000,840.000000,730.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN